

.container::before{
    content: "";
    background: url(../img/home.jpg) no-repeat center center/cover;
    position: absolute;
    height: 91%;
    top: 10%;
    left: 0px;
    width: 73%;
    z-index: -1;
}

.container{
    width: 31%;
    height: 35%;
    
    margin-top: 10%;
    margin-left: 65%;
    
}

.cont_div{
    padding: 20px;
    border: 1px solid #71caf2;
    border-radius: 10px;
    background-image: linear-gradient(to left top, #fee8f8, #9bdaf7);
    color: rgb(58, 58, 58);
}

.intro{
    margin-bottom: 5rem;
}

.intro span{
  font-size: 52px;
  color: rgb(88, 88, 255);
 
  
}
.cont_div_bottom{
    display: flex;
    flex-direction: column;
}
.btn{
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: rgb(117, 117, 255);
}
.btn:hover{
    color:white;
    background-color: rgb(85, 85, 197);
}

